{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}all products{% endblock %}</title>
    <link rel="stylesheet" href="/static/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% block additional_css %}
    <link rel="stylesheet" href="/static/allproducts.css">
    <link rel="stylesheet" href="/static/base.css">
    {% endblock %} 
    <style>
        .card-img-top {
            object-fit: cover;
            height: 400px;
        }
    </style>
</head>
<body>
    
    {% block content %} 
    
    <div class="container">            
        <div class="row">
            <div class="col-md-3">
                <form action="{{ url_for('products.all_products') }}" method="GET"style="display: flex;">
                    <div class="form-group" style="margin-right: 20px; width: 33%;">
                        <label for="category-filter">Category:</label>
                        <select class="form-control" id="category-filter" name="category">
                            <option value="">All</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group" style="margin-right: 20px; width: 33%;">
                        <label for="price-filter">Price:</label>
                        <select class="form-control" id="price-filter" name="price">
                            <option value="">All</option>
                            <option value="asc">Low to high</option>
                            <option value="desc">High to low</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin-right: 20px; width: 33%;">
                        <label for="rating-filter">Rating:</label>
                        <select class="form-control" id="rating-filter" name="rating">
                            <option value="">All</option>
                            <option value="asc">Low to high</option>
                            <option value="desc">High to low</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 80px;">Filter</button>
                </form>
            </div>
        </div>
        <div class="row row-cols-4">
          {% for product in products %}
            <div class="col mb-3">
              <div class="card">
                <img src="{{ product.image }}" alt="{{ product.name }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.description }}</p>
                  <p class="card-text">Price: ${{ product.price }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    {{pagination.info}}
    {{pagination.links}} 
    </div>
    
      
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>