{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register{% endblock %}</title>
    {% block additional_css %}
    <link rel="stylesheet" href="/static/register.css">
    <link rel="stylesheet" href="/static/base.css">
    {% endblock %} 
</head>
<body>
    {% block content %} 
        <form id="register-user" class="my-form"  method="POST">
            <h2>Register Your Account</h2>
            {{ form.hidden_tag() }}
            {% for field in form
                if field.widget.input_type != 'hidden' %}

                <p>
                    {{ field.label }}
                    {{ field }}

                    {% for error in field.errors %}
                        {{error}}
                    {% endfor %}
                </p>
            {% endfor %}

            <button type="submit">Register</button>
        </form>
    {% endblock %}
</body>
</html>